.NavbarItems
{
    background: linear-gradient(90deg, rgb(142, 0, 69),
     rgb(142, 0, 69) 50%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo

{
    color: #fffcf9;
    justify-self: start;
    background-color: rgb(142, 0, 69);
    cursor: pointer;
    height :95px;
    margin-left:45px;
}

.fa-react
{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: flex;
    grid-template-columns: repeat(5,autto);
    grid-gap: 20px;
    list-style: none;
    text-align:center;
    width: 80vw;
    margin-left: 1070px;
}


.nav-links{
    color: #fffcf9;
    text-decoration: none;
    margin-right: 55px;
}

.nav-links:hover{
    background-color: rgb(142, 0, 69);
    border-radius: 4px;
    transition:all 0.2s ease-out;
    cursor: pointer;

}

.fa-bars{
    color: #fffcf9;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display :none;
}
