.containerform {
    border-radius: 5px;
    padding: 20px;
    
  }

  .form{
    background-color: aliceblue;
    background: transparent;
  }

  .headersform{
    font-weight: normal;
    margin-left: 505px;
    margin-bottom: 10px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(91 7 7);;
  }

  input,select,option  {
    width :1000px;
    margin-left: 500px;
  }

  input[type=button] {
    background-color: rgb(142, 0, 69);
    border: none;
    color: #fffcf9;
    text-decoration: none;
    width :200px;
  }