* {
  box-sizing:border-box;
  margin: 0;
  padding: 20;
  font-family: 'Monsterrat', sans-serif;
}

input,select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.showbutton {
  background-color: rgb(142, 0, 69);
  border: none;
  color: #fffcf9;
  text-decoration: none;
  width :200px;
  padding: 10px;
  margin-left: 500px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.imagecss{
  background: url(./image.png) no-repeat center center fixed;
    height: 200px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
  text-align: center;
  font-size: xx-large;
  color: #fffcf9;
  padding: 100px;
}